 .calc {
     background-color: black;
     width: 400px;
     height: 400px;
     margin: 5px;
 }

 .mainbtn {
     display: grid;
     grid-template-columns: auto auto auto auto;
     border-radius: 20px;
     /*margin-bottom: -10px;
        margin-top: 5px;*/
     margin: 10px;
     padding: 15px;
     gap: 5px;
     height: 250px;
     background-color: burlywood;
     object-fit: cover;
 }

 button {
     background-color: aqua;
     width: 80px;
     height: 40px;
     color: blue;
     font-size: medium;
 }

 .mat {
     width: 95px;
     height: 40px;

 }

 #eq {
     grid-column: span 2;
     /* makes it 2 cells wide */
     background-color: aqua;
     /* optional - highlight */
     width: auto;
     /* override inline width */
 }