body{ background-color: bisque;}
.container {
     width: 310px;
     height: 540px;
     margin: auto;
     /* margin-top: 50px; */
    border-radius: 25px;
     line-height: 8px;
     background-color: rgb(52, 3, 95);
     /*text-align: center;*/

 }

 #half {
     display: flex;
     line-height: 10px;
 }

 
 #img {
     width: 160px;
     height: 220px;
     border-radius: 50%;
     margin: auto;
     border: 2px solid beige;
     margin-top: -10px;
     margin-left: 23%;
     object-fit: cover;
     object-position: center;
     background-color: lightskyblue;
 }
 .controls
    {
        display: flex;
            gap: 10px;
            margin-top: 10px;
            margin-left: 130px;

    }

        .btn {
            display: block;
            width: 8px;
            height: 8px;
            background-color: grey;
            border-radius: 50%;
            gap: 5px;
            cursor: pointer;
        }
                .btn.active {
                    background-color: blueviolet;
                }

 .content {
     text-align: center;
     color: blanchedalmond;
 }

 #click {
     display: flex;
 }

 .but {
     border-radius: 5px;
     background-color: blueviolet;
     color: rgb(255, 255, 255);
     padding: 10px;
     margin-left: 15%;
 }
 

 .but:hover {
     color: rgb(192, 125, 255);
     border-color: rgb(255, 255, 255);
     background-color: rgb(0, 0, 0);
 }

 #talent {
     display: flex;
     /* margin-left: 13px; */

 }

 .skills {
     background-color: lightskyblue;
     border-radius: 5px;
     color: black;
     padding: 8px;
     margin-left: 5px;
 }

